.card {
    color: brown;
    border-radius: 2px;
    border-color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: Arial;

    padding: 40px;
    
}

.card-image {
    width: 300px;
    height: 300px;
}

.card-component {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-between;
}