.navbar {
    display: flex;
    justify-content: space-between;
    background-color: black;
}

.amazon-logo {
    padding: 20px;
    color: white;
}

.navbar-elements ul {
    display: flex;
    list-style: none;
}

li {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: white;
}